@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

*{
    font-family: Lexend Deca;
}

#nav-ul{
    list-style-type: none;
    display: flex;
    padding: 1rem;
    font-size: xx-large;
}

html, body{
    margin: 0;
    padding: 0;
}

iframe, model-viewer{
    display: block;
    margin: 0 auto;
}

#animation-bg{
    color: white;
}

a{
    text-decoration: none;
    color: green;
}

footer{
    background-color: black;
    color: white;
    padding: 2rem;
    font-size: x-large;
}