@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

*{
    font-family: Lexend Deca;
}

ul{
    list-style-type: none;
    display: flex;
    padding: 1rem;
}

html, body{
    margin: 0;
    padding: 0;
}

iframe{
    display: block;
    margin: 0 auto;
}

#animation-bg{
    color: white;
}