@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

*{
    font-family: Lexend Deca;
        margin: 0;
        padding: 0;
}


#nav-ul{
    font-weight: bold;
    list-style-type: none;
    display: flex;
    padding: 2rem;
    font-size: 1.5rem;
    background-color: rgb(0,0,0);
}

#title{
    background-color: white;
    margin-left: 0rem;
    margin-right: 15rem;
    font-size: xx-large;
    box-shadow: 0rem 0rem 2rem 0.75rem white;
    overflow: visible;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

#title:hover{
        transition: 0.125s ease;
    box-shadow: 0rem 0rem 2rem 1rem white;
}

#nav-ul li a{
    margin: 1rem;
    border: black solid;
    box-shadow: 0rem 0rem 2rem 0.25rem white;
    border-radius: 1.5rem;
    padding: 0.25rem;
    background-color: white;
    color: black;
}

#nav-ul li a:hover{
    transition: 0.1s ease;
    font-size: 1.6rem;
}

#nav-ul li a:active{
    transition: 0.125s ease;
    color: rgb(2, 185, 2);   
}

iframe, model-viewer{
    display: block;
    margin: 0 auto;
}

#animation-bg{
    color: white;
}

a{
    text-decoration: none;
    color:rgb(38, 183, 240);
}

footer{
    background-color: black;
    color: white;
    padding: 2rem;
    font-size: x-large;
}

#gradient-1{
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(17, 11, 47, 1) 100%);
}

svg{
    display: block;
    margin: auto;
    transform: scale(5);
    padding: 1rem;
    filter: drop-shadow(0px 0px 5px #FFFFFF);
}

#home{
    text-align: center;
    text-shadow: rgba(255,255,255,1) 0px 0px 48px;
}

.section-start{
    font-size: 7rem; text-align: center; padding: 1rem;
}